body {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #2E8B57;
}
.left,
.right,
.main {
    box-sizing: border-box;
    border: 1px solid #2E8B57;
}

/*使用浮动达到五种布局效果*/
.byfloat .type1 p {
    display: inline-block;
}
.byfloat .type1 .left {
    float: left;
    width: 30%;
}
.byfloat .type1 .right {
    float: right;
    width: 70%;
}


.byfloat .type2 {
    clear: both;
}
.byfloat .type2 .left {
    float: left;
    width: 200px;
}
.byfloat .type2 .right {
    margin-left: 200px;
}


.byfloat .type3  {
    overflow: hidden;
}
.byfloat .type3 .left {
    margin-right: 200px;
}
.byfloat .type3 .right {
    float: right;
    width: 200px;
}


.byfloat .type4 {
    clear: both;
}
.byfloat .type4 .left,
.byfloat .type4 .right,
.byfloat .type4 .main{
    float: left;
}
.byfloat .type4 .main {
    width: 100%;
}
.byfloat .type4 .main-inner {
    float: left;
    margin: 0 200px 0  200px;
}
.byfloat .type4 .left {
    width: 200px;
    margin-left: -100%;
}
.byfloat .type4 .right {
    width: 200px;
    margin-left: -200px;
}


.byfloat .type5 {
    clear: both;
}
.byfloat .type5 .left,
.byfloat .type5 .right,
.byfloat .type5 .main {
    float: left;
}
.byfloat .type5 .left,
.byfloat .type5 .right {
    width: 200px;
}
.byfloat .type5 .main {
    width: calc(100% - 400px);
}


/*使用position达到五种布局效果*/
.byposition {
    clear: both;
    background-color: #E0FFFF;
}
.byposition .type1 .left {
    width: 30%;
}
.byposition .type1 .right {
    position: relative;
    top: -55px;
    left: 30%;
    width: 70%;
}


.byposition .type2 .left {
    width: 200px;
}
.byposition .type2 .right {
    position: relative;
    top: -55px;
    left: 200px;
    width: calc(100% - 200px);
}


.byposition .type3 .left {
    width: calc(100% - 200px);
}
.byposition .type3 .right {
    position: relative;
    top: -55px;
    left: calc(100% - 200px);
    width: 200px;
}


/*必须结合浮动才能形成圣杯布局*/
.byposition .type4 .left,
.byposition .type4 .right,
.byposition .type4 .main {
    float: left;
    position: absolute;
}
.byposition .type4 .left {
    width: 200px;
}
.byposition .type4 .right {
    width: 200px;
    right: 0;
}
.byposition .type4 .main {
    width: calc(100% - 400px);
    margin: 0 200px 0 200px;
}


.byposition .type5 .left,
.byposition .type5 .right,
.byposition .type5 .main {
    overflow: hidden;
    position: relative;
}
.byposition .type5 .left{
    top: 55px;
    width: 200px;
}
.byposition .type5 .right {
    left: 200px;
    width: 200px;
}
.byposition .type5 .main {
    top: -55px;
    left: 400px;
    width: calc(100% - 400px);
}


/*使用flexbox达到五种布局效果*/
.byflexbox {
    background-color: #AFEEEE;
}
.byflexbox .type1 {
    display: flex;
}
.byflexbox .type1 .left {
    width: 30%;
}
.byflexbox .type1 .right {
    width: 70%;
}


.byflexbox .type2 {
    display: flex;
}
.byflexbox .type2 .left {
    width: 200px;
}
.byflexbox .type2 .right {
    width: calc(100% - 200px);
}


.byflexbox .type3 {
    display: flex;
}
.byflexbox .type3 .right {
    width: 200px;
}
.byflexbox .type3 .left {
    width: calc(100% - 200px);
}


.byflexbox .type4 {
    display: flex;
}
.byflexbox .type4 .left {
    order: -1;
    width: 200px;
    justify-content: flex-start;
}
.byflexbox .type4 .right {
    width: 200px;
    align-items: flex-end;
}
.byflexbox .type4 .main {
    width: calc(100% - 400px);
}


.byflexbox .type5 {
    display: flex;
}
.byflexbox .type5 .left {
    order: -1;
    width: 200px;
    justify-content: flex-start;
}
.byflexbox .type5 .right {
    width: 200px;
}
.byflexbox .type5 .main {
    width: calc(100% - 400px);
}
