body {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #2E8B57;
}
.left,
.right,
.main {
    box-sizing: border-box;
    border: 1px solid #2E8B57;
}


.byfloat .type1 p {
    display: inline-block;
}
.byfloat .type1 .left {
    float: left;
    width: 30%;
}
.byfloat .type1 .right {
    float: right;
    width: 70%;
}


.byfloat .type2 {
    clear: both;
}
.byfloat .type2 .left {
    float: left;
    width: 200px;
}
.byfloat .type2 .right {
    margin-left: 200px;
}


.byfloat .type3  {
    overflow: hidden;
}
.byfloat .type3 .left {
    margin-right: 200px;
}
.byfloat .type3 .right {
    float: right;
    width: 200px;
}


.byfloat .type4 {
    clear: both;
}
.byfloat .type4 .left,
.byfloat .type4 .right,
.byfloat .type4 .main{
    float: left;
}
.byfloat .type4 .main {
    width: 100%;
}
.byfloat .type4 .main-inner {
    float: left;
    margin: 0 200px 0  200px;
}
.byfloat .type4 .left {
    width: 200px;
    margin-left: -100%;
}
.byfloat .type4 .right {
    width: 200px;
    margin-left: -200px;
}


.byfloat .type5 {
    clear: both;
}
.byfloat .type5 .left,
.byfloat .type5 .right,
.byfloat .type5 .main {
    float: left;
}
.byfloat .type5 .left,
.byfloat .type5 .right {
    width: 200px;
}
.byfloat .type5 .main {
    width: calc(100% - 400px);
}

.byposition {
    clear: both;
    background-color: #E0FFFF;
}
.byposition .type1 .left {
    width: 30%;
}
.byposition .type1 .right {
    position: relative;
    top: -55px;
    left: 30%;
    width: 70%;
}


.byposition .type2 .left {
    width: 200px;
}
.byposition .type2 .right {
    position: relative;
    top: -55px;
    left: 200px;
    width: calc(100% - 200px);
}


.byposition .type3 .left {
    width: calc(100% - 200px);
}
.byposition .type3 .right {
    position: relative;
    top: -55px;
    left: calc(100% - 200px);
    width: 200px;
}