.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
::-webkit-scrollbar {
    display:none
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 100% Nunito, 'Times New Romans', sans-serif;
    /* box-sizing: border-box; */
    width: 100%;
    height: 100%;
    min-height: 1150px;
    /* background: transparent; */
}

button {
    margin: 5px;
    background: transparent;
    border: 0;
}

#menu .menu_left {
    float: left;
    left: 0;
    width: 100px;
    min-height: 1150px;
    margin: 0;
    background-color: #1D2531;
}

#menu .menu_left .top {
    display: flex;
    position: fixed;
    float: top;
    flex-direction: column;
    margin-left: 10px;
}

#menu .menu_left .bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    margin-left: 20px;
}

#menu .menu_left .middle {
    height: calc(100% - 300px);
}

#menu .menu_right {
    box-sizing: border-box;
    position: relative;
    float: left;
    top: 0;
    left: 0;
    width: 250px;
    height: 1150px;
    padding: 0 20px 0 20px;
    color: #FFF;
    background-color: #222C3C;
}

#menu .menu_right .part1,
#menu .menu_right .part2 {
    border-bottom: .5px solid #5B6779;
}
#menu .menu_right img {
    float: right;
}

#menu .menu_right dl dt {
    
    margin: 20px 0;
    font-size: 12px;
    font-weight: 400;
    color: #5B6779;
}

#menu .menu_right dl dd {
    margin: 20px 0;
    font-size: 14px;
}

#menu .menu_right .part2 .images {
    float: left;
    margin-right: 1em;

}
#menu .menu_right #severcapacity {
    position: absolute;
    bottom: 0;
    width: 250px;
}

#menu .menu_right #severcapacity p {
    display: inline-block;
    margin: 0 10px 10px 0; 
    font-size: 14px;
    font-weight: 400;
}

#menu .menu_right #severcapacity img {
    float: left;
}

main p {
    font-size: 14px;
    line-height: 1.35;
    color: #585D68;
}
main #topbar {
    position: relative;
    top: 0;
    width: calc(100% - 350px);
    height: 80px;
    margin-left: 350px;
    border-bottom: 0.5px solid #B5B5B5;
}

main #topbar .title {
    float: left;
    padding: 20px;
}

main #topbar .profile {
    float: right;
}

main #topbar .profile img {
    position: relative;
    top: 10px;
    right: 140px;
}

main #topbar .profile .text {
    position: relative;
    top: -40px;
    right: 70px;
}

main #topbar .profile .text img {
    position: absolute;
    top: 0;
    right: -50px;
}

main #topbar .profile p {
    color: #B5B5B5;
}

main #topbar .profile p span {
    color: #00F;
}

main #chatslist {
    float: left;
    width: 400px;
    height: 1000px;
    overflow: auto;
}

main #chatslist .searchbar input {
    width: 85%;
    height: 40px;
    margin:  10px 20px;
    padding-left: 1em;
    vertical-align: -webkit-baseline-middle;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: .5px solid #B5B5B5;   
}

main #chatslist .searchbar button {
    position: relative;
    top: -50px;
    left: 0;
    float: right;
}

main #chatslist .chatslist section {
    padding-bottom: 10px;
    border-top: .5px solid #B5B5B5; 
}

main #chatslist .chatslist section h3 {
    font-size: 16px;
    margin: 20px 0 2px 0;
}
main #chatslist .chatslist section img {
    float: left;
    margin: 20px 20px 10px 20px;
}

main #chatslist .chatslist section .pic4 {
    position: relative;
    top: 20px;
    right: -45px;
    float: right;
    margin: 15px 20px 0 10px;
}
main #chatslist .chatslist section span {
    float: right;
    margin-right: 20px;
    font-size: 14px;
    color: #B5B5B5;
}

main #chatslist .chatslist section small {
    color: #B5B5B5;
}

main #chatslist .chatslist section p {
    margin: 15px 20px 0 20px;
}

main #chatslist .chatslist #chat7 {
    border-bottom: .5px solid #B5B5B5;
}

main #chatslist .chatslist #chat1 {
    box-sizing: border-box;
    border-left: 5px solid #2399F1;
}

main #chatslist .chatslist #chat1 h3 {
    color: #2399F1;
}
/*openchats style*/
main #openchats {
    position: absolute;
    float: left;
    height: 1000px;
    overflow: auto;
    margin-left: 752px;
    border-left: .5px solid #B5B5B5;
}
main #openchats #openchatstb {
    box-sizing: border-box;
    height: 41px;
    border-bottom: 0.5px solid #B5B5B5;
}

main #openchats #openchatstb .profilename p {
    position: relative;
    left: 0;
    margin: 20px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

main #openchats #openchatstb .profilename p span {
    color: #32CD32;
}

main #openchats #openchatstb .tools {
    position: absolute;
    top: 12px;
    right: 0;
}

main #openchats #openchatstb .tools img,
main #openchats #openchatstb .tools p {
    float: right;
}
/*article style*/
main #openchats article .wrap1 {
    position: relative;  
    text-align: center;
    min-width: 450px;
    height: 20px;
    margin: 10px 0 10px 0;
    line-height: 1.3;
    color: #B5B5B5;
}

main #openchats article .wrap1 .line {
    display: inline-block;
    width: 42.5%;
    border-top: 1px solid #B5B5B5;
}

main #openchats article .wrap1 .txt {
    width: 35px;
    vertical-align: -4px;
}

main #openchats article .wrap2 {
    position: relative;  
    text-align: center;
    min-width: 450px;
    height: 20px;
    margin: 10px 0 10px 0;
    line-height: 1.3;
    color: 	#1E90FF;
}
main #openchats article .wrap2 .txt {
    width: 40px;
    vertical-align: -4px;
}

main #openchats article .wrap2 .line {
    display: inline-block;
    width: 38%;
    border-top: 1px solid #1E90FF;
}

main #openchats article small {
    font-size: 14px;
    font-weight: 300;
    color: #5B6779;
}
main #openchats article div div {
    margin: 10px;
}
main #openchats article img {
    float: left;
    margin: 10px 30px 10px 10px;
}

main #openchats article p {
    margin-left: 90px;
}

main #openchats article h3 {
    margin-bottom: 5px;
}

/*two pictures*/
main #openchats article .tuesday .pictures {
    position: relative;
    height: 120px;
    margin-left: 80px;
}

main #openchats article .tuesday .pictures img {
    margin-right: 10px;
}

main #openchats article .tuesday .himself .pictures .openpic {
    display: block;
    position: absolute;
    left: 176px;
    opacity: .7;
    background: #000;
    transition: display 1s;
}

main #openchats article .tuesday .himself .pictures #base2:hover+.openpic,
main #openchats article .tuesday .himself .pictures .openpic:hover {
    display: none;
}
main #openchats article .moremessage .writenew img {
    margin-right: 0;
}

main #openchats article .moremessage .writenew input{
    position: relative;
    float: left;
    width: 85%;
    height: 40px;
    padding: 5px;
    margin: 10px 0 0 0;
    vertical-align: -webkit-baseline-middle;
    
}















